@import "tailwindcss";
/* @source "../"; */
@source "../index.html";
@source "../app.js";

body > h1:nth-of-type(1) {
  cursor: pointer;
}

body {
  --title-bar-height: 42px;
  padding-top: var(--title-bar-height);
  color: white;
  font-family: sans-serif;
}

#bar {
  background: rgba(55, 60, 72, 0.6);
  backdrop-filter: blur(64px);
  -webkit-app-region: drag;
  height: var(--title-bar-height);
  padding: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  white-space: nowrap;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
}

pear-ctrl[data-platform="darwin"] {
  margin-top: 18px;
  margin-left: 12px;
}

#update,
#action {
  display: none;
}
#action {
  font-size: 1.25rem;
  background: #405b40;
  color: #ddd;
  border: 2px solid #ddd;
  padding: 0.2em 0.3em;
  cursor: pointer;
}

/* hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
